
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Home.cshtml";
}

@if (TempData["guncellemeBasarili"] != null)
{
    <h2 class="alert alert-success" id="successMessage">@TempData["guncellemeBasarili"]</h2>
}


